<div class="container-fluid"> 
	<% flash.each do |key, message| %>
    <% if key.eql? "alert" %>
     <%= render :partial => '/layouts/shared/render_flash_messages' , locals: {key: 'warning',message: message}%>
    <% end %>
    <% if key.eql? "notice" %>
      <%= render :partial => '/layouts/shared/render_flash_messages' , locals: {key: 'info',message: message}%>
    <% end %>
	<% end %>
</div>
