<div class="">
			<% if @article.comments.present? %>
				<% @article.comments.each do |comment | %>
					<div class="comment-container">
						<div>
							<%= comment.text %>
						</div>
						<span class="green-text">
							<%= comment.user.try(:name) %>   |  
							<%= distance_of_time_in_words(comment.updated_at, Time.now)  %>							
						</span>						
					</div>
				<%end %>
			<% end %>
		</div>		