@import "bootstrap-sprockets";
@import "bootstrap";
.flat-text-box {
    display: block;
    height: 32px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.margin-top {
    margin-top: 10px;
}

.center {
    padding: 70px 0;
    text-align: center;
}

#new_article_form {
    width: 250px;
    padding: auto;
    margin-left: auto;
    margin-right: auto;
}

.small-margin {
    margin-left: 10px;
    margin-right: 10px;
}

.navbar-margin-top {
    margin-top: 65px;
}

.comment-container {
    border-top: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
    padding-top: 15px;
    padding-bottom: 15px;
}

.green-text {
    color: green
}

.heading {
    color: blue;
}

p {
    font-size: 13px;
}

.img-circle {
    border-radius: 50%;
}

.user {
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    color: blue;
}

.float-right {
    float: right;
}

.small-icon {
    height: 25px;
    width: 25px;
}
